@import "reset";
@import "variables";
@import "mixins";
@import "flipclock";
html {
  font-size: $base-font;
  font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
  background-color: $dark-purple;
  max-width: 2560px;
}

/* Global */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.container {
  width: 88%;
  margin: 0 auto;
  overflow: hidden;
  @include custom-media(900px) {
    width: 95%;
  }
}
.hidden {
  display: none;
}
.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.center {
  @extend %center-all;
}
.btn {
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  border-radius: 0.15rem;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  &.btn--blue,
  &.btn--green {
    padding: 0.875rem 1.625rem;
    font-weight: bold;
  }
  &.btn--blue {
    background-color: #3f74d9;
    font-size: $base-font;
    color: #f30042;
  }
  &.btn--green {
    background-color: #4eae38;
    color: white;
    font-weight: bold;
  }
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: $base-font;
  height: $base-font;
  opacity: 0.5;
  border: 2px solid #fed449;
  border-radius: 50%;
  padding: 0.125rem;
  margin: 0.5rem;
  cursor: pointer;
  @include custom-media(720px) {
    right: 10px;
    top: -5px;
  }
  &:hover {
    opacity: 1;
  }
  &:after,
  &:before {
    position: absolute;
    left: 0.56rem;
    content: " ";
    height: $base-font;
    width: 0.125rem;
    background-color: #fed449;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.expand-ico {
  cursor: pointer;
  color: #ef0946;
  position: relative;
  padding: 0 $base-font;
  transition: transform 0.5s;
  &:before,
  &:after {
    content: " ";
    position: absolute;
    width: 0.125rem;
    height: $base-font;
    background-color: #ef0946;
    transition: transform 0.2s;
  }
  &:after {
    transform: rotate(90deg);
  }
  &.expanded {
    &:before {
      transform: rotate(90deg);
    }
  }
}
.wrapper {
  height: 100vh;
  header {
    @extend %center-all;
    width: 100%;
    background: $light-purple;
    min-height: 3.75rem;
    .inner-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include custom-media(920px) {
        width: 95%;
      }
      .logo {
        max-width: 14.3125rem;
        height: auto;
        margin: 0 $base-font;
        @include custom-media(620px) {
          width: 100%;
          height: auto;
        }
      }
      .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
          margin: 0 $base-font;
          @include custom-media(740px) {
            display: none;
          }
        }
        .btn--blue {
          align-self: flex-end;
        }
      }
    }
  }
  #hero {
    @extend %center-all;
    background-color: $light-purple;
    width: 100%;
    height: 43.75rem;
    position: relative;
    flex-direction: column;
    height: 30rem;
    background-size: cover;
    @include custom-media(740px) {
      justify-content: flex-start;
    }
    @include custom-media(2560px) {
      background: url("../../public/assets/images/hero-img-2560.jpg") no-repeat
        center;
    }
    @include custom-media(1980px) {
      background: url("../../public/assets/images/hero-img-1920.jpg") no-repeat
        center;
    }
    @include custom-media(840px) {
      background: url("../../public/assets/images/hero-img-1400.jpg") no-repeat
        center;
    }
    .erg-cassino-title {
      display: none;
      @include custom-media(740px) {
        display: block;
        justify-self: flex-end;
      }
    }
    .hero-text {
      color: white;
      text-align: center;
      max-width: 50%;
      float: right;
      @include custom-media(840px) {
        margin-top: 2rem;
        max-width: 100%;
        float: unset;
      }
      p {
        font-size: 2rem;
        color: #d50179;
        margin: 0;
        @include custom-media(840px) {
          font-size: 6vw;
        }
      }
      h2 {
        font-size: 3.75rem;
        margin: $base-font;
        font-weight: 900;
        @include custom-media(840px) {
          font-size: 8vw;
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      img {
        margin: 0 auto;
        padding: 0.5rem;
      }
      .bonus-details {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        margin: 0;
        font-size: 0.75rem;
      }
    }
  }
  #info {
    background-color: $medium-purple;
    color: white;
    padding: 2rem 0;
    .steps-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      @include custom-media(840px) {
        flex-direction: column;
      }
      a {
        text-decoration: none;
        color: white;
      }

      .step-line {
        min-width: 2rem;
        margin: $base-font;
        border-bottom: 0.125rem solid white;
        @include custom-media(840px) {
          transform: rotate(90deg);
        }
      }
      .step {
        display: flex;
        align-items: center;
        .circle {
          min-width: 3rem;
          position: relative;
          width: 50%;
          background-color: $circle-bg;
          border-radius: 50%;
          margin: 0 0.5rem;
          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          @include custom-media(840px) {
            border: 0.125rem solid white;
          }
          h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            font-size: 1.75rem;
          }
        }
        .step-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .step-title {
            font-size: 1.5rem;
            font-weight: bolder;
            text-transform: uppercase;
            margin: 0 0 0.5rem 0;
          }
          .step-text {
            font-weight: 100;
            margin: 0;
          }
        }
      }
    }
    .jackpot {
      @extend %center-all;
      background-color: #0a0428;
      margin-bottom: 2rem;
      padding: 0.5rem $base-font;
      transition: height 0.3s ease-in-out;
      position: relative;
      @include custom-media(720px) {
        display: inline-block;
      }
      .jackpot-heading {
        margin: 0 $base-font;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
      }
      .jackpot-inner--wrapper {
        @extend %center-all;
        #jackpot-countdown {
          background-color: #190b32;
          padding: 0.5rem;
        }
        .currency {
          z-index: 10;
          bottom: 2rem;
          font-size: 2 * $base-font;
          color: #ccc;
          left: 14rem;
        }
      }
    }
    .terms {
      padding: 0.5rem $base-font;
      background-color: $light-purple;
      margin-bottom: 2rem;
    }

    .logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include custom-media(1020px) {
        flex-direction: column;
        flex-wrap: wrap;
      }
      .logos-payments {
        display: flex;
        align-items: center;
        @include custom-media(1020px) {
          margin-bottom: $base-font;
          justify-content: center;
        }
        @include custom-media(680px) {
          grid-template-columns: 100% 100%;
          grid-template-rows: auto;
          display: grid;
          width: 50%;
        }
        .logo {
          background-color: $dark-purple;
          padding: $base-font;
          margin: 0.125rem;
          @include custom-media(680px) {
            width: auto;
            display: flex;
            justify-content: center;
          }
          .logo-img {
            max-height: $base-font;
          }
        }
      }
      .logos-legal {
        @extend %center-all;
        .logo {
          .logo-img {
            max-height: 2rem;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    background-color: $dark-purple;
    color: white;
    font-size: 0.75rem;
    font-weight: 100;
    .logo-paragraph {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }
    }
  }
}

.flip-clock-wrapper ul li a div div.inn {
  @include custom-media(720px) {
    font-size: 6vw;
  }
}

.flip-clock-wrapper ul {
  @include custom-media(720px) {
    width: 0.5em;
    height: 0.6em;
  }
}
